.timings-main-container{
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    height:400px;
    width:100vw;
    margin: 30px 0;
  
}

.temple-timing-bg-container{
    background-color:#fdf7e1;
    display: flex;
    width:70%;
    justify-content:space-around;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: 15px 0;
    border-radius: 15px;
    
}


.timings-img{
    height:48vh;
    width:37vw;
    box-sizing: border-box;
    border-radius: 10px;
    }
    
.temple-timing-card{
    background-color: white;
    border-radius:10px;
    padding: 15px;
    width:28vw;
    height: 48vh;
    box-sizing: border-box;

}


.temple-timing-card h2{
    color:#9b1313;
}


@media screen and (min-width:720px) and (max-width:1200px){

    .temple-timing-bg-container{
        background-color:#fdf7e1;
        display: flex;
        width:75%;
        justify-content:space-around;
        align-items: center;
        box-sizing: border-box;
        height: 90%;
        padding: 10px 0;
        border-radius: 15px;
        
    }
    .timings-img{
        height:43vh;
        width:40vw;
        box-sizing: border-box;
        border-radius: 10px;
        }
        
    .temple-timing-card{
        background-color: white;
        border-radius:10px;
        padding: 15px;
        width:28vw;
        height: 43vh;
        box-sizing: border-box;
    
    }


}

@media screen and (max-width:720px){
    .timings-main-container{
        display:flex;
        justify-content: center;
        align-items: center;
        height:fit-content;
        width:100vw;
        margin: 30px 0;
       
    
    }


    .temple-timing-bg-container{
        background-color:#fdf7e1;
        display: flex;
        flex-direction: column;
        width:75%;
        justify-content:center;
        align-items: center;
        height: fit-content;
        padding: 40px 0;
        border-radius: 15px;
    }

    .timings-img{
        height:43vw;
        width:58vw;
        box-sizing: border-box;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        }
        
    .temple-timing-card{
        background-color: white;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        padding: 15px;
        width:58vw;
        height: 43vw;
        box-sizing: border-box;
        text-align: center;
    
    }
    .timings-main-container h2{
        font-size:4vw ;

    }
    .timings-main-container h3{
font-size: 3vw;
    }
    .timings-main-container p{
        font-size:2.4vw ;
    }
    
}