.login {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 50px;
  gap: 20px;
}
.fields {
  margin: 0 auto;
}
.inputField {
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

.btn-div {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  background: #fcd413;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffeb85;
  text-decoration: none;
}
.logout-btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #b81212;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.logout-btn:hover {
  background: #e83a3a;
  text-decoration: none;
}

 /* ****** Responsive Styles for Modal ****** */

 @media only screen and (max-width: 600px) {
  .logout-btn , .far,.fas {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
  }
  .btn{
    font-size: 12px;
    padding: 5px 10px 5px 10px;
  }
  /* .far,.fas {
    font-size: 12px;
  } */
}